@charset "utf-8";

html,　body {
    height: 100%;
    background-color: #000;
  }
h1,h3,h4,p,a{
    color:#fff;
}
h2{
    color:#d1af94;
    font-family: 'Noto Serif', serif;
    font-size:50px;
}
p{
    font-size: 20px;
}
a{
    color:#fff;
    text-decoration: none;
}
a:hover{
    color:#fff;
    opacity: 0.6;
    transition: .3s;
    text-decoration: none;
}

header{
    background-color: black;
    width:100%;
    height:120px;
    position: relative;
}
.header_logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    width:300px;
    display:flex;
    justify-content: space-between;
}
.text_bar{
    font-size: 40px;;
    color:#fff;
    margin:15px 5px 0;
    font-family: 'Noto Serif', serif;
}
ul{
    list-style: none;
    padding:0;
    margin:0;
}
/*ヘッダーロゴアニメーション*/
#wrap_svg{
    width:300px;
}
.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;}

#wrap_svg .logo_n1{
    animation: logo_n1 5s ease-in both 1;
}
#wrap_svg .logo_n2{
    animation: logo_n2 5s ease-in both 1;
}
#wrap_svg .logo_n3{
    animation: logo_n3 5s ease-in both 1;
}
#wrap_svg .logo_a1{
    animation: logo_a1 5s ease-in both 1;
}
#wrap_svg .logo_a2{
    animation: logo_a2 5s ease-in both 1;
}
#wrap_svg .logo_a3{
    animation: logo_a3 5s ease-in both 1;
}
#wrap_svg .logo_nn1{
    animation: logo_nn1 5s ease-in both 1;
}
#wrap_svg .logo_nn2{
    animation: logo_nn2 5s ease-in both 1;
}
#wrap_svg .logo_nn3{
    animation: logo_nn3 5s ease-in both 1;
}
#wrap_svg .logo_d1{
    animation: logo_d1 5s ease-in both 1;
}
#wrap_svg .logo_d2{
    animation: logo_d2 5s ease-in both 1;
}

#wrap_svg .logo_i1{
    animation: logo_i1 5s ease-in both 1;
}
#wrap_svg .logo_i2{
    animation: logo_i2 5s ease-in both 1;
}

@keyframes logo_n1 {
    0% {
      fill: transparent;
      stroke-dasharray: 2000px;
      stroke-dashoffset: 2000px;
    }
    30%{
      stroke-dashoffset: 0;
    }
}
@keyframes logo_n2 {
    0% {
      fill: transparent;
      stroke-dasharray: 2000px;
      stroke-dashoffset: 2000px;
    }
    5% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
    35%{
        fill: transparent;
        stroke-dashoffset: 0;
    }
}
@keyframes logo_n3 {
    0% {
      fill: transparent;
      stroke-dasharray: 2000px;
      stroke-dashoffset: 2000px;
    }
    10% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
    40%{
        fill: transparent;
        stroke-dashoffset: 0;
    }
}
@keyframes logo_a1 {
    0% {
      fill: transparent;
      stroke-dasharray: 2000px;
      stroke-dashoffset: 2000px;
    }
    15% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
    45%{
        fill: transparent;
        stroke-dashoffset: 0;
    }
}
@keyframes logo_a1 {
    0% {
      fill: transparent;
      stroke-dasharray: 2000px;
      stroke-dashoffset: 2000px;
    }
    15% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
    45%{
        fill: transparent;
        stroke-dashoffset: 0;
    }
}
@keyframes logo_a1 {
    0% {
      fill: transparent;
      stroke-dasharray: 2000px;
      stroke-dashoffset: 2000px;
    }
    15% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
    45%{
        fill: transparent;
        stroke-dashoffset: 0;
    }
}
@keyframes logo_a2 {
    0% {
      fill: transparent;
      stroke-dasharray: 2000px;
      stroke-dashoffset: 2000px;
    }
    20% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
    50%{
        fill: transparent;
        stroke-dashoffset: 0;
    }
}
@keyframes logo_a3 {
    0% {
      fill: transparent;
      stroke-dasharray: 2000px;
      stroke-dashoffset: 2000px;
    }
    25% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
    50%{
        fill: transparent;
        stroke-dashoffset: 0;
    }
}
@keyframes logo_nn1 {
    0% {
      fill: transparent;
      stroke-dasharray: 2000px;
      stroke-dashoffset: 2000px;
    }
    30% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
    50%{
        fill: transparent;
        stroke-dashoffset: 0;
    }
}
@keyframes logo_nn2 {
    0% {
      fill: transparent;
      stroke-dasharray: 2000px;
      stroke-dashoffset: 2000px;
    }
    35% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
    55%{
        fill: transparent;
        stroke-dashoffset: 0;
    }
}
@keyframes logo_nn3 {
    0% {
      fill: transparent;
      stroke-dasharray: 2000px;
      stroke-dashoffset: 2000px;
    }
    40% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
    60%{
        fill: transparent;
        stroke-dashoffset: 0;
    }
}
@keyframes logo_d1 {
    0% {
      fill: transparent;
      stroke-dasharray: 2000px;
      stroke-dashoffset: 2000px;
    }
    45% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
    65%{
        fill: transparent;
        stroke-dashoffset: 0;
    }
}
@keyframes logo_d2 {
    0% {
      fill: transparent;
      stroke-dasharray: 2000px;
      stroke-dashoffset: 2000px;
    }
    50% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
    70%{
        fill: transparent;
        stroke-dashoffset: 0;
    }
}
@keyframes logo_i1 {
    0% {
      fill: transparent;
      stroke-dasharray: 2000px;
      stroke-dashoffset: 2000px;
    }
    55% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
    70%{
        fill: transparent;
        stroke-dashoffset: 0;
    }
}
@keyframes logo_i2 {
    0% {
      fill: transparent;
      stroke-dasharray: 2000px;
      stroke-dashoffset: 2000px;
    }
    60% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
    70%{
        fill: transparent;
        stroke-dashoffset: 0;
    }
}

/*イメージ画像*/
.img{
    width:100%;
}
.image{
    background-color: #000;
}
/*ショップインフォメーション*/
.shop_info{
    background-image: url(./img/4230687_m.jpg);
    background-size:cover;
    padding:100px 0 100px 0;
}
.shop_info_in{
    width:80%;
    margin:10px auto;
}
.shop_info_in h2{
    text-align: center;
    margin-bottom:50px;
}
.shop_info_content{
    display:flex;
    justify-content:flex-start ;
    margin-bottom:30px;
}
.shop_info_content h4{
    width:130px;
}
.shop_info_line{
    margin:17px 25px 0 20px;
    border-top: 2px solid #d1af94;
    height:2px;
    width:80px;
}
.shop_info_insta{
    display:flex;
    justify-content:flex-end;
    margin-bottom:30px;
}
.shop_info_insta p{
    margin:10px 10px 0 0;
}
.shop_info_insta i{
    margin-left: 20px;
}

/*システム*/
.system{
    background-color: #000;
    padding:100px 0 100px 0;
}
.system_content{
    display:flex;
    justify-content:space-between;
}
.system_content h3{
    width:130px;
}

/*メニュー*/
.menu{
    background-image: url(./img/bg-menu.jpg);
    padding:100px 0 100px 0;
}
.menu_in{
    width:80%;
    margin:10px auto;
}
.menu_in h2{
    text-align: center;
    margin-bottom:50px;
}
.menu_content{
    margin:50px auto;
}
.menu_content_title{
    display:flex;
    justify-content:flex-start;
    margin-bottom:40px;
}
.menu_content_title h4{
    width:200px;
    font-family: 'Noto Serif', serif;
}
.menu_contents_line{
    margin:17px 0 0 20px;
    border-top: 2px solid #d1af94;
    height:2px;
    width:100%;
}
.menu_content_1{
    display:flex;
    justify-content:space-between;
}
/*アクセス*/
.access{
    background-color: #000;
    padding:100px 0 100px 0;
}
.access_in{
    width:80%;
    margin:10px auto;
}
.access_in h2{
    text-align: center;
    margin-bottom:50px;
}
.access_in p{
    text-align: center;
    margin-bottom:50px;
}
.access_contents iframe{
    width:100%;
}
